
<h1 class="app-title">{{title}}</h1>

<div class="counter-display">
    <h2 class="counter-display__title">{{displaySession}}</h2>

    <h3 class="counter-display__value">{{displayCounter}}</h3>
</div>

<button class="app-button" (click)="runCommand()">{{buttonCommand}}</button>

<form autocomplete="off" class="app-settings">
    <div class="app-settings__field">
        <p>Session</p>
        <input class="app-settings__field__input" name="sessionLength" [(ngModel)]="inputSessionLength" (change)="settingsChanged($event.currentTarget, 'sessionLength')" type="text"/>
    </div>

    <div class="app-settings__field">
        <p>Short Break</p>
        <input class="app-settings__field__input" name="shortBreakLength" [(ngModel)]="inputShortBreakLength" (change)="settingsChanged($event.currentTarget, 'shortBreakLength')" type="text"/>
    </div>

    <div class="app-settings__field">
        <p>Long Break</p>
        <input class="app-settings__field__input" name="longBreakLength" [(ngModel)]="inputLongBreakLength" (change)="settingsChanged($event.currentTarget, 'longBreakLength')" type="text"/>
    </div>
</form>

<audio #audioPlayer src="assets/Alarm.mp3" preload="auto" type="audio/mpeg"></audio>

<p class="source-text">Source code available at <a href="https://github.com/Silmunia/pomodoro" target="_blank" rel="noopener noreferrer external">Github</a></p>

<router-outlet />
