@import url("../styles.css");

.counter-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 3.2rem;
    text-decoration: underline;
}

h3 {
    font-size: 4.8rem;
}

button {
    font-size: 2.8rem;
    background: var(--pomodoro-white);
    color: var(--pomodoro-black);
    border: none;
    width: 138px;
    height: 59px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(54, 51, 51, 0.65);
    border-bottom: 3px solid #cccccc;
}

button:active {
    box-shadow: none;
    border-bottom: none;
}

.app-settings {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.app-settings__field {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2.4rem;
}